@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  /* --- Welcome Page Styles --- */
  body {
    color: #333;
    font-family: Sans-Serif;
    line-height: 18px;
    overflow-x: hidden; 
  }

/*  .wrapper {
    margin: 16px auto;
    max-width: 960px;
    padding: 2.25%; 
    width: 85%;
  }*/



  h1 {
    font-size: 36px;
    line-height: 54px;
  }

  h2 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
  }

  h3 {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 18px;
  }

  .main {
    overflow: hidden;
  }

  .content {
    float: left;
    width: 60%; /* 480px / 800px */
  }

  .sidebar {
    background: #eee;
    border: 1px solid #ccc;
    float: right;
    padding: 2.08333333333%; /* 5px / 240px */
    width: 30%; /* 240px / 800px */
  }

  .sidebar ul {
    font-size: 14px;
  }

  .branding {
    clear: both;
  }

  footer.branding {
    margin-top: 20px;
    padding-top: 20px;
  }
}



.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    width: 98vw;
    border-color: transparent;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent; 
}

.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
}

.navbar-inverse .navbar-brand {
  color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}

.jumbotron{
  position: relative;
  background-color: transparent;
}

#video-background { 
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    width:100%;
}

.jumbotron .h1, .jumbotron h1 {
    color: #ffffff;
    margin: 3em;
}



h4 {
  color: #15523e;
}

.about {
  margin-top: 11%;
}

.btn-default {
    color: #15523e;
    background-color: #fff;
    border-color: #15523e;
    border-radius: 0px;
    border: 3px solid;
}

.btn-default:hover {
  background-color: #15523e;
  border-color: #15523e;
  color: #ffffff;
}

i {
  padding-top: 20px;
}

.image {
  max-width: 100%;
}

.padding {
  padding-left: 7em;
  padding-right: 7em;
  padding-top: 8em;
}

.photo {
  padding-left: 0;
  padding-right: 0;
}

.container {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.placement {
  padding-top: 5%;
  height: 50vh;
  margin-left: 8%;
}

.btn-form {
  border: white;
  background-color: white;
  color: #15523e;
  position: relative;
    float: right;
     bottom: 1em;
    height: 63px;
}

.footer {
  color: #ffffff;
  height: 250px;
  background-color: #132a31;
}

h5 {
    line-height: 1.5;
    font-size: 16px;
}

#logo {
  padding-top: 5em;
}

.highlight {
  color: #15523e;
}

ul li a {
  text-decoration: none;
  color: #ffffff;
}

ul li a:hover {
  color: #15523e;
  text-decoration: none;
}

.navbar-inverse .navbar-nav>li>a:hover {
  background-color: #15523e;
}








@media screen and (max-width: 600px) {
/*  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }*/

  .content, .sidebar {
    float: none;
    width: 100%;
  }

  .sidebar {
    background: transparent;
    border: none;
    border-top: 2px solid #ccc;
    padding: 0;
  }

  h1 {
    font-size: 24px;
    line-height: 36px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }
}
