
        <video id="video-background" preload muted autoplay loop>
          <source src="../videos/video.mp4" type="video/mp4"/>
        </video>
  
      <h1>Catskill 3500 Tracker
        <br>
        <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
       </h1>

       <div class="container placement">
		<div class="row intro">
			<div class="about col-md-12 col-sm-12 col-xs-12">
				<h4><strong>What is the Catskill 3500 Tracker?</strong></h4>
				<h3><strong>Track your progress as you hike to the 35 Catskill peaks that are above 3500 feet in elevation.</strong></h3>
				<a href="/signup"><button type="button" class="btn btn-default">SIGN UP HERE</button></a>
			</div>
		</div>
		</div>
		<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12 col-xs-12 photo">
				<img class="image" src="images/ei-test-layout.jpg" Alt="sample image">
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12 padding padding-b">
				<h3><strong>Title goes right here.</strong></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed neque ex, sagittis in hendrerit nec, euismod vitae ex. Proin varius ligula elit, et sodales dui hendrerit iaculis. Nunc quis lectus fringilla, vestibulum sem euismod, condimentum neque. Sed non scelerisque ante. In posuere ipsum purus, efficitur vestibulum nunc blandit at. In eget neque velit. Sed sapien mi, scelerisque ac turpis euismod, venenatis lacinia libero. Donec vestibulum velit tellus, congue porta turpis efficitur viverra.</p>
			</div>
		</div>
	</div>
		<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12 col-xs-12 photo col-md-push-6">
				<img class="image" src="images/ei-test-layout.jpg" Alt="sample image">
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12 padding col-md-pull-6">
				<h3><strong>Title goes right here.</strong></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed neque ex, sagittis in hendrerit nec, euismod vitae ex. Proin varius ligula elit, et sodales dui hendrerit iaculis. Nunc quis lectus fringilla, vestibulum sem euismod, condimentum neque. Sed non scelerisque ante. In posuere ipsum purus, efficitur vestibulum nunc blandit at. In eget neque velit. Sed sapien mi, scelerisque ac turpis euismod, venenatis lacinia libero. Donec vestibulum velit tellus, congue porta turpis efficitur viverra.</p>
			</div>
			
		</div>
		</div>
