<h1>Add a Peak</h1>
<form action="/peaks" method="post">
	<label>Peak Name</label>
	<!-- <input id='name' type='text' name='name' required autofocus> -->
	<select name="name">
		<option value="Balsam">Balsam</option>
		<option value="Balsam Cap">Balsam Cap</option>
		<option value="Balsam Lake">Balsam Lake</option>
		<option value="Bearpen">Bearpen</option>
		<option value="Big Indian">Big Indian</option>
		<option value="Black Dome">Black Dome</option>
		<option value="Blackhead">Blackhead</option>
		<option value="Cornell">Cornell</option>
		<option value="Doubletop">Doubletop</option>
		<option value="Eagle">Eagle</option>
		<option value="Fir">Fir</option>
		<option value="Friday">Friday</option>
		<option value="Graham">Graham</option>
		<option value="Halcott">Halcott</option>
		<option value="Hunter">Hunter</option>
		<option value="Indian Head">Indian Head</option>
		<option value="Kaaterskill High Peak">Kaaterskill High Peak</option>
		<option value="Lone">Lone</option>
		<option value="North Dome">North Dome</option>
		<option value="Panther">Panther</option>
		<option value="Peekamoose">Peekamoose</option>
		<option value="Plateau">Plateau</option>
		<option value="Rocky">Rocky</option>
		<option value="Rusk">Rusk</option>
		<option value="Southwest Hunter">Southwest Hunter</option>
		<option value="Sherrill">Sherrill</option>
		<option value="Slide">Slide</option>
		<option value="Sugarloaf">Sugarloaf</option>
		<option value="Table">Table</option>
		<option value="Thomas Cole">Thomas Cole</option>
		<option value="Twin">Twin</option>
		<option value="Vly">Vly</option>
		<option value="Westkill">Westkill</option>
		<option value="Windham High Peak">Windham High Peak</option>
		<option value="Wittenberg">Wittenberg</option>
	</select>
	<br>
	<label>Date Hiked</label>
	<input id='date_hiked' type='text' name='date_hiked' required><br>
	<label>Remarks: </label>
	<input id='remarks' type='text' name='remarks'><br>
	<input class="btn btn-primary" type='submit' value='submit'>
</form>