<h1>Add a Peak</h1>
<form action="/peaks" method="post">
	<label>Peak Name</label>
	<!-- <input id='name' type='text' name='name' required autofocus> -->
	<select name="name">
	  <option value="Slide">Slide 4190'</option>
	  <option value="Hunter">Hunter</option>
	  <option value="Vly">Vly</option>
	</select>
	<br>
	<label>Elevation (in feet)</label>
	<input id='elevation' type='text' name='elevation' required><br>
	<label>Date Hiked</label>
	<input id='date_hiked' type='text' name='date_hiked' required><br>
	<label>Remarks: </label>
	<input id='remarks' type='text' name='remarks'><br>
	<input class="btn btn-primary" type='submit' value='submit'>
</form>